    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="pt-5">Events</h1>
                </div>
                <div class="col d-flex justify-content-end py-3">
                    <button class="m-4" style="background: #42C1C6; color: white;">Upcoming</button>
                    <button class="m-4">Past</button>
                </div>
            </div>
            <div class="row">
                <div class="col create_event m-2">
                    <div class="card" style="width: 18rem; height: 410px;">
                        <div class="text-center">
                            <img src="./assets/icons/Add Event Default.png" alt="add event" class="add_event_icon">
                            <h2 class="">Create New Event</h2>
                            <div class="event_button">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="summer_drink col m-2">
                    <div class="card" style="width: 18rem; ">
                        <div class="card_top">
                            <img src="./assets/Past Event Card_Special Summer Herb Drink.jpeg" class="card-img-top"
                                alt="workshop">
                            <h3 class="event_type" style="background-color:#FCBE00;">Workshop</h3>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title text-center p-2">Special Summer Herb Drink</h2>
                            <div class="p-1">
                                <i class="far fa-calendar-alt"> </i>
                                <span class="card-text text-start py-1">Date <span class="span_bold text-start p-3">19th
                                        June 2021</span></span>
                            </div>
                            <div class="p-1">
                                <i class="far fa-clock"></i>
                                <span class="card-text text-start py-1">Time <span
                                        class="span_bold text-start p-3">2:00pm - 5:00pm</span></span>
                            </div>
                            <div class="text-center">
                                <p class=" span_bold pt-1" style="color:#42C1C6;">
                                    <i class="far fa-check-circle text-center" style="color:#42C1C6;"></i>Published
                                </p>
                                <a href="#" class="btn btn-primary">More Details</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="farmer col m-2">
                    <div class="card" style="width: 18rem; ">
                        <div class="card_top">
                            <img src="./assets/Past Event Card_A Day of Farmer.jpeg" class="card-img-top"
                                alt="workshop">
                            <h3 class="event_type" style="background-color:#0080C3; width: 90px;">Event</h3>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title text-center p-2">A Day of Farmer</h2>
                            <div class="p-1">
                                <i class="far fa-calendar-alt"> </i>
                                <span class="card-text text-start py-1">Date <span
                                        class="span_bold text-start p-3">01-05 May 2021</span></span>
                            </div>
                            <div class="p-1">
                                <i class="far fa-clock"></i>
                                <span class="card-text text-start py-1">Time <span
                                        class="span_bold text-start p-3">10:00am - 1:00pm</span></span>
                            </div>
                            <div class="text-center">
                                <p class=" span_bold pt-1" style="color:#42C1C6;">
                                    <i class="far fa-check-circle text-center" style="color:#42C1C6;"></i>Published
                                </p>
                                <a href="#" class="btn btn-primary">More Details</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="farmer_market col m-2">
                    <div class="card" style="width: 18rem; ">
                        <div class="card_top">
                            <img src="./assets/Upcoming Event Card_Farmer's Market.png" class="card-img-top"
                                alt="workshop">
                            <h3 class="event_type" style="background-color:#0080C3; width: 90px;">Event</h3>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title text-center p-2">Farmer's Market</h2>
                            <div class="p-1">
                                <i class="far fa-calendar-alt"> </i>
                                <span class="card-text text-start py-1">Date <span
                                        class="span_bold text-start p-3">18-24 April 2021</span></span>
                            </div>
                            <div class="p-1">
                                <i class="far fa-clock"></i>
                                <span class="card-text text-start py-1">Time <span
                                        class="span_bold text-start p-3">2:00am - 5:00pm</span></span>
                            </div>
                            <div class="text-center">
                                <p class=" span_bold pt-1" style="color:#42C1C6;">
                                    <i class="far fa-check-circle text-center" style="color:#42C1C6;"></i>Published
                                </p>
                                <a href="#" class="btn btn-primary">More Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
