   <section id="impact" class="my-2">
        <div class="container">
            <h1 class="pt-5" style="margin-bottom:16px">Impact Reach</h1>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-12 col-lg-4">

                        <div class="impact_group m-2 mt-4" id="visitors">
                            {{visitors}}
                        </div>

                        <div class="impact_group m-2" id="socialMedia">
                            {{socialMedia}}
                        </div>

                        <div class="impact_group m-2" id="foodDonated">
                            {{foodDonated}}
                        </div>

                    </div>
                    <div class="col-md-12 col-lg-7 col-sm-12">
                        <div class="card-body">
                        
                            <div class="chart-container" style="position: relative; height:100%; width:638px;">
                            <canvas id="impactChart" ></canvas>
                            </div>
                            <div class="timeframes">
                                <div class="timeframe-option">1 week</div>
                                <div class="timeframe-option">1 month</div>
                                <div class="timeframe-option">3 months</div>
                                <div class="timeframe-option">6 months</div>
                                <div class="timeframe-option">1 year</div>
                                <div class="timeframe-option">2 years</div>
                                <div class="timeframe-option">5 years</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

{{>script}}
<script src="/js/impactReach.js"></script>
