   <section id="impact" class="my-2">
        <div class="container">
            <h1 class="pt-5">Impact Reach</h1>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-12 col-lg-4">

                        <div class="impact_group m-2 mt-4">
                            <img src="./assets/icons/Visitors icon.png" alt="visitor" class="impact_icon m-3">
                            <div class="impact_info">
                                <a href="#">
                                <h2 class="impact_title">Visitors</h2>
                                <h3 class="impact_data">387</h3>
                                <h3 class="impact_freq">Weekly</h3></a>
                            </div>
                        </div>

                        <div class="impact_group m-2">
                            <img src="./assets/icons/Social Media.png" alt="social media" class="impact_icon m-3">
                            <div class="impact_info">
                                <a href="#">
                                <h2 class="impact_title">Social Media</h2>
                                <h3 class="impact_data">1437</h3>
                                <h3 class="impact_freq">Weekly</h3></a>
                            </div>
                        </div>

                        <div class="impact_group m-2">
                            <img src="./assets/icons/food donated icon.png" alt="food donated" class="impact_icon m-3">
                            <div class="impact_info">
                                <a href="#">
                                <h2 class="impact_title">Food Donated</h2>
                                <h3 class="impact_data">14.7kg</h3>
                                <h3 class="impact_freq">Monthly</h3></a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 col-lg-7 col-sm-12">
                        <div class="card-body">
                        
                            <div class="chart-container" style="position: relative; height:100%; width:638px;">
                            <canvas id="impactChart" ></canvas>
                            </div>
                            <div class="timeframes">
                                <div class="timeframe-option">1 week</div>
                                <div class="timeframe-option">1 month</div>
                                <div class="timeframe-option">3 months</div>
                                <div class="timeframe-option">6 months</div>
                                <div class="timeframe-option">1 year</div>
                                <div class="timeframe-option">2 years</div>
                                <div class="timeframe-option">5 years</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>