    <section id="intro" class="my-2">
        <div class="container">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-6 col-sm-12 intro_photo ">
                        <img src="./assets/Metroplaza urban rooftop_ Farm Information.png"
                            class="img-fluid rounded-start" alt="metro plaza">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="card-body">

                            <div class="row intro_info">

                                <div class="col-4 ms-4">
                                    <img src="./assets/logo.png" alt="logo">
                                </div>

                                <div class="col-6 ">
                                    <h4 class="card-title text-left farm_info">Farm Information</h4>
                                    <h1 class="text-left mt-5 farm_location" style="color:#3DA8A9">Metroplaza</h1>
                                </div>

                            </div>
                            <div class="row mx-4 intro_text">
                                <div class="col-5">
                                    <p class="card-text ms-5">
                                        Name:<br>
                                        Address :<br><br>
                                        Size :<br>
                                        Opened :<br>
                                    </p>
                                </div>
                                <div class="col-7">
                                    <span class="card-text">
                                        Metroplaza Rooftop Farm<br>
                                        Level 5 Sky Garden, Metroplaza, 223 Hing Fong Road, Kwai Chung <br>
                                        13,000 square<br>
                                        19/05/2018
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>