    <section id="intro" class="my-2">
        <div class="container">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-6 col-sm-12 intro_photo ">
                        <img src="./assets/Metroplaza urban rooftop_ Farm Information.png"
                            class="img-fluid rounded-start" alt="metro plaza">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">

                    {{!-- Install data from database (start) --}}
                        <div class="card-body" id="farmInfo">
                            {{farmInfo}}
                        </div>
                    {{!-- Install data from database (end) --}}

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

{{>script}}
<script src="/js/farmInfo.js"></script>