<nav>

<img class="logo" src="/assets/white-logo.png">
<div class="nav-items">
    <div class="nav-link">Home</div>
    <div class="nav-link current">Dashboard</div>
    <div class="nav-link">Farm Planner</div>
    <div class="nav-link">Crop Magazine</div>
</div>
<div class="nav-icon">
    <img class="nav-icon-link" src="./assets/icons/enquiry-icon.png">
       <img class="nav-icon-link" src="./assets/icons/setting-icon.png">
          <img class="nav-icon-link" src="./assets/icons/exit-icon.png">
</div>

</nav>