    <section id="overview" class="my-2">
        <div class="container">
            <h1 class="pt-5">Farm Overview</h1>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-lg-5 overview_box">
                        <div class="impact-up">
                        <div class="impact-up-partA">
                        <div class="impact_group m-2 mt-2">
                            <img src="./assets/icons/Icon=Icon - Ready to harvest.png" alt="visitor" class="overview_icon m-3">
                            <div class="overview_info">
                                <a href="#">
                                <h2 class="overview_title">Ready to harvest</h2>
                                <h3 class="overview_data">48</h3>
                                <h3 class="overview_freq">Planters</h3></a>
                            </div>
                        </div>

                        <div class="impact_group m-2 mt-2">
                            <img src="./assets/icons/Icon=Icon - Active growing.png" alt="visitor" class="overview_icon m-3">
                            <div class="overview_info">
                                <a href="#">
                                <h2 class="overview_title">Active growing</h2>
                                <h3 class="overview_data">138</h3>
                                <h3 class="overview_freq">Planters</h3></a>
                            </div>
                        </div>
                        </div> 
                            <div class="doughnut-container" style="position: relative; height:150px; width:150px">
                                 <canvas id="farmDoughnut"> </canvas>
                            </div>
                        </div>

                    <div class="impact-down">
                        <div class="impact_group m-2 mt-2">
                            <img src="./assets/icons/Icon=Icon - Ready to sow.png" alt="visitor" class="overview_icon m-3">
                            <div class="overview_info">
                                <a href="#">
                                <h2 class="overview_title">Ready to sow</h2>
                                <h3 class="overview_data">114</h3>
                                <h3 class="overview_freq">Planters</h3></a>
                            </div>
                        </div>

                        <div class="impact_group m-2 mt-2 soil-planted">
                            <img src="./assets/icons/Icon=Icon - Soil planted.png" alt="visitor" class="overview_icon m-3">
                            <div class="overview_info">
                                <a href="#">
                                <h2 class="overview_title">Soil planted</h2>
                                <h3 class="overview_data">5000</h3>
                                <h3 class="overview_freq">arces<span style="color: grey;">| sq. ft.</span></h3></a>
                            </div>
                        </div></div>

                    </div>

                    <div class="col-lg-1 empty_div"></div>

                    <div class="col-lg-6">
                        <div class="card-body">
                            <h1 class="productivity">Productivity</h1>
                        
                                <table>
                                <tr>
                                    <th>Crop</th>
                                    <th>Yield</th>
                                    <th>Date of Harvest</th>
                                    <th>Contribution</th>
                                </tr>
                                <tr>
                                    <td>Chilli</td>
                                    <td>13 kg</td>
                                    <td>7 Jan 2021</td>
                                    <td>Donation</td>
                                </tr>
                                <tr>
                                    <td>Rosemary</td>
                                    <td>5kg</td>
                                    <td>14 Jan 2021</td>
                                    <td>Event</td>
                                </tr>
                                <tr>
                                    <td>Potato</td>
                                    <td>9.5kg</td>
                                    <td>25 Feb 2021</td>
                                    <td>Donation</td>
                                </tr>
                                <tr>
                                    <td>Carrot</td>
                                    <td>16kg</td>
                                    <td>19 May 2021</td>
                                    <td>Event</td>
                                </tr>
                                <tr>
                                    <td>Spinach</td>
                                    <td>8kg</td>
                                    <td>26 Aug 2021</td>
                                    <td>Donation</td>
                                </tr>
                                <tr>
                                    <td>Lettuce</td>
                                    <td>12kg</td>
                                    <td>18 Oct 2021</td>
                                    <td>Event</td>
                                </tr>                                                                                                                            
                                </table>
                           
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>