    <section id="overview" class="my-2">
        <div class="container">
            <h1 class="pt-5">Farm Overview</h1>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-lg-5 overview_box">
                        <div class="impact-up">
                        <div class="impact-up-partA">
                        <div class="impact_group m-2 mt-2">
                            <img src="./assets/icons/Icon=Icon - Ready to harvest.png" alt="visitor" class="overview_icon m-3">
                            
                            <div class="overview_info" id="readyToHarvest">
                                {{readyToHarvest}}
                            </div>

                        </div>

                        <div class="impact_group m-2 mt-2">
                            <img src="./assets/icons/Icon=Icon - Active growing.png" alt="visitor" class="overview_icon m-3">
                            
                            <div class="overview_info" id="activeGrowing">
                                {{activeGrowing}}
                            </div>

                        </div>
                        </div> 
                            <div class="doughnut-container" style="position: relative; height:150px; width:150px">
                                 <canvas id="farmDoughnut"> </canvas>
                            </div>
                        </div>

                    <div class="impact-down">
                        <div class="impact_group m-2 mt-2">
                            <img src="./assets/icons/Icon=Icon - Ready to sow.png" alt="visitor" class="overview_icon m-3">
                            
                            <div class="overview_info" id="readyToSow">
                                {{readyToSow}}
                            </div>

                        </div>

                        <div class="impact_group m-2 mt-2 soil-planted">
                            <img src="./assets/icons/Icon=Icon - Soil planted.png" alt="visitor" class="overview_icon m-3">
                            <div class="overview_info">
                                <a href="#">
                                <h2 class="overview_title">Soil planted</h2>
                                <h3 class="overview_data">5000</h3>
                                <h3 class="overview_freq">arces<span style="color: grey;">| sq. ft.</span></h3></a>
                            </div>
                        </div></div>

                    </div>

                    <div class="col-lg-1 empty_div"></div>

                    <div class="col-lg-6">
                        <div class="card-body">
                            <h1 class="productivity">Productivity</h1>
                        
                            <table id="productivity">

                            {{productivity}}                                                           
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

{{>script}}
<script src="/js/farmOverview.js"></script>