    <!--Progress-->
    <section id="progress" class="carousel slide" data-bs-ride="carousel">
        <div class="container">
            <h1 class="pt-5">Progress of Crops</h1>

            <!--Tabbed bar-->

            <div class="mb-3 carousel">
                <button class="w3-bar-item w3-button tablink w3-red active" data-bs-target="#progress"
                    data-bs-slide-to="0" onclick="openCrops(event,'Chili')">Chili</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="1"
                    onclick="openCrops(event,'Rosemary')">Rosemary</button>

                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="2"
                    onclick="openCrops(event,'Chrysanthemum')">Chrysanthemum</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="3"
                    onclick="openCrops(event,'Carrot')">Carrot</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="4"
                    onclick="openCrops(event,'Spinach')">Spinach</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="1"
                    onclick="openCrops(event,'CherryTomato')">Cherry
                    Tomato</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="5"
                    onclick="openCrops(event,'Potato')">Potato</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="6"
                    onclick="openCrops(event,'Fig')">Fig</button>
                <button class="w3-bar-item w3-button tablink" data-bs-target="#progress" data-bs-slide-to="7"
                    onclick="openCrops(event,'IndianLettuce')">Indian
                    Lettuce</button>
            </div>

            <div class="carousel-inner">

                <!--Chili-->
                <div id="Chili" class="crops carousel-item active">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Chili</h5>

                                    <div class="row my-5 mx-4">
                                        <div class="col-6">
                                            <p class="card-text">
                                                Status: <br>
                                                Type: <br>
                                                Planting Zone: <br>
                                                Sowing Month: <br>
                                                Excepted Harvest Month:
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <span class="card-text">
                                                Growing <br>
                                                Fruit <br>
                                                Zone A <br>
                                                Dec 2021 <br>
                                                Feb 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 d-flex justify-content-end crops_img">
                                <img src="./assets/crops/Progress of Crops Card_Chili.jpeg"
                                    class="img-fluid rounded-start" alt="chili">
                                <span class="crops_date">05/01/2021</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Rosemary-->
                <div id="Rosemary" class="crops carousel-item">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Rosemary</h5>
                                    <div class="row my-5 mx-4">
                                        <div class="col-6">
                                            <p class="card-text">
                                                Status: <br>
                                                Type: <br>
                                                Planting Zone: <br>
                                                Sowing Month: <br>
                                                Excepted Harvest Month:
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <span class="card-text">
                                                Growing <br>
                                                Herb <br>
                                                Zone A <br>
                                                Dec 2021 <br>
                                                Feb 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex justify-content-end crops_img">
                                <img src="./assets/crops/Progress of Crops Card_Rosemary.jpeg"
                                    class="img-fluid rounded-start" alt="Rosemary">
                                <span class="crops_date">05/01/2021</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Chrysanthemum-->
                <div id="Chrysanthemum" class="crops carousel-item">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Chrysanthemum</h5>
                                    <div class="row my-5 mx-4">
                                        <div class="col-6">
                                            <p class="card-text">
                                                Status: <br>
                                                Type: <br>
                                                Planting Zone: <br>
                                                Sowing Month: <br>
                                                Excepted Harvest Month:
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <span class="card-text">
                                                Growing <br>
                                                Flower <br>
                                                Zone E <br>
                                                Nov 2021 <br>
                                                Jan 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex justify-content-end crops_img">
                                <img src="./assets/crops/Progress of Crops Card_Chrysanthemum.png"
                                    class="img-fluid rounded-start" alt="Chrysanthemum">
                                <span class="crops_date">05/01/2021</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Carrot-->
                <div id="Carrot" class="crops carousel-item">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Carrot</h5>
                                    <div class="row my-5 mx-4">
                                        <div class="col-6">
                                            <p class="card-text">
                                                Status: <br>
                                                Type: <br>
                                                Planting Zone: <br>
                                                Sowing Month: <br>
                                                Excepted Harvest Month:
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <span class="card-text">
                                                Ready to harvest <br>
                                                Root / Stem <br>
                                                Zone B <br>
                                                Oct 2021 <br>
                                                Jan 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex justify-content-end crops_img">
                                <img src="./assets/crops/Progress of Crops Card_Carrot.jpeg"
                                    class="img-fluid rounded-start" alt="Carrot">
                                <span class="crops_date">05/01/2021</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Spinach-->
                <div id="Spinach" class="crops carousel-item">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Spinach</h5>
                                    <div class="row my-5 mx-4">
                                        <div class="col-6">
                                            <p class="card-text">
                                                Status: <br>
                                                Type: <br>
                                                Planting Zone: <br>
                                                Sowing Month: <br>
                                                Excepted Harvest Month:
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <span class="card-text">
                                                Ready to harvest <br>
                                                Leafy Green <br>
                                                Zone C <br>
                                                Dec 2021 <br>
                                                Jan 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex justify-content-end crops_img">
                                <img src="./assets/crops/Progress of Crops Card_Spinach.jpeg"
                                    class="img-fluid rounded-start" alt="Spinach">
                                <span class="crops_date">05/01/2021</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Cherry Tomato-->
                <div id="CherryTomato" class="crops carousel-item">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Cherry Tomato</h5>
                                    <div class="row my-5 mx-4">
                                        <div class="col-6">
                                            <p class="card-text">
                                                Status: <br>
                                                Type: <br>
                                                Planting Zone: <br>
                                                Sowing Month: <br>
                                                Excepted Harvest Month:
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <span class="card-text">
                                                Growing <br>
                                                Fruit <br>
                                                Zone A <br>
                                                Dec 2021 <br>
                                                Mar 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex justify-content-end crops_img">
                                <img src="./assets/crops/Progress of Crops Card_Cherry Tomato.jpeg"
                                    class="img-fluid rounded-start" alt="Cherry Tomato">
                                <span class="crops_date">05/01/2021</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Potato-->
                <div id="Potato" class="crops carousel-item">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Potato</h5>
                                    <div class="row my-5 mx-4">
                                        <div class="col-6">
                                            <p class="card-text">
                                                Status: <br>
                                                Type: <br>
                                                Planting Zone: <br>
                                                Sowing Month: <br>
                                                Excepted Harvest Month:
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <span class="card-text">
                                                Growing <br>
                                                Root / Stem <br>
                                                Zone B <br>
                                                Nov 2021 <br>
                                                Mar 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex justify-content-end crops_img">
                                <img src="./assets/crops/Progress of Crops Card_Potato.jpeg"
                                    class="img-fluid rounded-start" alt="Potato">
                                <span class="crops_date">05/01/2021</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Fig-->
                <div id="Fig" class="crops carousel-item">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Fig</h5>
                                    <div class="row my-5 mx-4">
                                        <div class="col-6">
                                            <p class="card-text">
                                                Status: <br>
                                                Type: <br>
                                                Planting Zone: <br>
                                                Sowing Month: <br>
                                                Excepted Harvest Month:
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <span class="card-text">
                                                Growing <br>
                                                Tree <br>
                                                Zone D <br>
                                                Aug 2019 <br>
                                                Jun 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex justify-content-end crops_img">
                                <img src="./assets/crops/Progress of Crops Card_Fig.jpeg"
                                    class="img-fluid rounded-start" alt="Fig">
                                <span class="crops_date">05/01/2021</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Indian Lettuce-->
                <div id="IndianLettuce" class="crops carousel-item">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Indian Lettuce</h5>
                                    <div class="row my-5 mx-4">
                                        <div class="col-6">
                                            <p class="card-text">
                                                Status: <br>
                                                Type: <br>
                                                Planting Zone: <br>
                                                Sowing Month: <br>
                                                Excepted Harvest Month:
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <span class="card-text">
                                                Ready to harvest <br>
                                                Leafy Green <br>
                                                Zone X <br>
                                                Aug 2021 <br>
                                                Jan 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex justify-content-end crops_img">
                                <img src="./assets/crops/Progress of Crops Card_Indian Lettuce.jpeg"
                                    class="img-fluid rounded-start" alt="Indian Lettuce">
                                <span class="crops_date">05/01/2021</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
